html {
  /* height: 100%; */
  background-image: linear-gradient(to bottom, #e67e22, #e97333, #ea6942, #e8614f, #e35a5c);
    /* background-size: cover; */
  background-attachment: fixed;
}

.wrapper {
  width: 300px;
  padding: 50px;
  /* margin: auto; */
}

.main-view {
  width: 90vw;
  height: 90vh;
}

.login-and-events-wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
}

.login-wrapper {
  width: 200px;
  padding: 25px;
  margin: auto;
}

.login-area {
  width: 200px;
}

.events-list-wrapper {
  display: flex;
  flex-flow: column;
  margin: auto;
}

.events-list {
  display: flex;
  flex-flow: column;
}

.event-display {
  padding: 5px;
  min-height: 160px;
  width: 500px;

  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #130d3636;
  border-radius: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-flow: row;

  transition-duration: 250ms;
  transition-property: background-color, border-color;
}

.event-display-left-column {
  flex-flow: column;
}

.event-display-main {
  display: flex;
  flex-flow: row;
}

.event-display-title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 3;
  /* flex-direction: column;
  text-align: center; */
}

.event-display-members {
  font-size: 10px;
  flex: 1;
}

.event-display-messages {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  flex: 2;
  padding-left: 5px;
  margin-left: 5px;
  border-left: 1px solid #00000010;
  border-radius: 5%;
  height: 100%;
}

.event-display-messages-header {
  font-size: 16px;
  color: #00000080;
}

.event-display-messages-list {
  /* max-height: 200px;
  overflow: scroll; */
}

.event-display-messages-message-container {
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid #00000010;
  border-radius: 20%;
}

.event-display-messages-message-timestamp {
  font-size: 8px;
  text-align: right;
  color: #000000b0;
}

.basic-timestamp {
  display: block;
}

.full-timestamp {
  display: none;
}

.event-display-messages-message-container:hover .event-display-messages-message-timestamp {
  font-size: 12px;
  color: #000000;
}

.event-display-messages-message-container:hover .basic-timestamp {
  display: none;
}

.event-display-messages-message-container:hover .full-timestamp {
  display: block;
}

.event-display-messages-message {
  display: flex;
  flex-flow: row;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.event-display-messages-message-username {
  color: #741F00;
  padding-right: 2px;
  margin-top: 1px;
}

.event-display-messages-message-text {
  margin-top: 1px;
}

.event-name {
  /* color: #48dbfb; */
  color: black;
  font-weight: bold;
  /* font-size: 30px; */
  font-size: 24px;
  padding: 15px;
}

.event-date {
  padding: 15px;
  font-size: 14px;
}

.event-display-place-suggestion {
  display: flex;
  flex-flow: column;
}

.event-display-place-list {
  padding: 5px;
  font-size: 10px;
}

.event-display-place-list-entry-container {
  display: flex;
  flex-flow: row;
}

.vote-count {
  flex: 1;

  align-self: center;
  margin-right: 5px;
  border: 1px solid #D6FADC;
  background-color: #FFF921;
  padding: 4px 5px;
  border-radius: 100%;
  box-shadow: 0px 0px 3px 1px #D6FADC80;
  
  /* prevent text selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.event-display-place-list-entry {
  flex: 30;

  background-color: #98B3A6;
  border-width: 1px;
  border-style: solid;
  border-color: #6E8071;
  width: 100%;
  height: 15px;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 5px;

  transition-duration: 175ms;
  transition-property: background-color, border-color, box-shadow;
  
  /* prevent text selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
  
  cursor: pointer;
}

.event-display-place-list-entry.voted-for {
  background-color: #00B258;
}

.event-display-place-list-entry.clickable {
  box-shadow: 0px 0px 3px 1px #D6FADC80;
  border-color: #D6FADC;
}

.event-display-place-list-entry.clickable:hover {
  /* background-color: #00B258; */
  background-color: #6BD69A;
  box-shadow: 0px 0px 5px 4px #D6FADC80;
}

.event-display-place-list-entry.clickable:active {
  box-shadow: 0px 0px 5px 4px #D6FADC80;
  background-color: #6BD69A;
}

.invited-users-list {
  height: 70%;
}

.invite-user-field {
  padding-bottom: 15px;
}

.invite-user-label {
  font-size: 12px;
}

.join-event {

}

.join-event-button {
  background-color: #00B258;
  border-color: #D6FADC;
  width: 80px;
  height: 30px;
  border-radius: 4px;

  transition-duration: 175ms;
  transition-property: background-color, border-color, box-shadow;
  box-shadow: 0px 0px 3px 1px #D6FADC80;
}

.join-event-button:focus {
  outline: 0;
}

.join-event-button:active {
  box-shadow: 0px 0px 5px 4px #D6FADC80;
  background-color: #6BD69A;
  border-style: solid;
}

.join-event-button:hover {
  /* background-color: #6BD69A; */
  box-shadow: 0px 0px 5px 4px #D6FADC80;
}

.delete-event-button {
  font-size: 8px;
  vertical-align: middle;
  color: darkred;
  cursor: pointer;
  
  /* prevent text selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.user-display {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.user-display-name {
  margin-right: 3px;
}

.user-display-name.voted-user {
  color: #FFF921;
  font-weight: bold;
}

.online-indicator {

  align-self: center;
  border: 1px solid #D6FADC;
  background-color: #21FF21;
  padding: 2px 3px;
  margin: 2px;
  border-radius: 100%;
  box-shadow: 0px 0px 3px 1px #D6FADC80;
  width: 1px;
  height: 3px;
  
  /* prevent text selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}